<div class="container">
	<h3><a href="/albums">Albums</a></h3>
	<%= erb :_album_thumbs, :locals => {:albums => albums} %>

	<h3><a href="/photos">Photos</a></h3>
	<%= erb :_photo_thumbs, :locals => {:photos => photos} %>
</div>
